<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/demo.css'/>
    <script type="text/javascript" src='/js/demo.js'></script>
  </head>
  <body>
  	<h1><%= title %></h1>
  	<p>This page is called <b><%= title %></b></p>
  </body>
</html>
